<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="In every issue of SUCCESS we will strive to bring you the thought leaders and success experts, both past and present, and reveal their key ideas and strategies to help you excel in every area of your personal and professional life">
    <meta name="keywords" content="Inspiration, motivation, productivity, success">
    <meta name="author" content="Mihret Debebe">
    <title>Life hacks</title>
</head>

<body>
    <table width="80%" align="center">
        <tr>
            <td>
                <a href="../index.html"><img src="../../../resources/images/logo_gold.png" alt="Neqa-Neqa logo" width="50px" height="auto"
                    margin="2"></a>
                </td>
            <td align="right">
                <b>
                    <a href="">Podcasts </a> | <a href="articles/articles.html"> Articles</a> | <a
                        href="ideas/ideas.html"> Ideas</a> | <a href="">About
                        Us</a> | <a href="#">Contact Us</a>
                </b>
            </td>
        </tr>
    </table>

    <hr>
    <table cellpadding="10" width="80%" align="center">
        <tr>
            <td colspan="2" align="right">
                <a href="#bot"> Go To bottom</a>
            </td>
        </tr>
        <tr valign="top">
            <!-- Main Content -->
            <td width="70%">
                <h1>Articles Content Goes here..</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere quos, ratione pariatur eum eos omnis ducimus voluptatem, cumque nihil repellendus? Molestiae dicta error aspernatur id consectetur, magni sint ipsum.
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A ut pariatur sunt quam quibusdam ratione inventore est aut, voluptate eligendi id non provident excepturi laboriosam ipsum itaque magnam, iste corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iure nemo consequuntur, perferendis et perspiciatis accusantium dolore nesciunt incidunt voluptatem laborum veniam vel? Nostrum aliquam explicabo delectus consequatur repellendus pariatur.</p>


                <!-- End Main Conent -->
            </td>
            <td valign="top" width="30%">
                <!-- Sidebar -->
                <h2> Recent Posts</h2>
                <ul>
                    <li>
                        <h3>Articles</h3>
                        <ul>
                            <li>The Importance of Goals, Especially During Difficult Times</li>
                            <li>5 Steps to Discovering Your Life Purpose In 2022!</li>
                        </ul>
                    </li>
                    <li>
                        <h3>Ideas</h3>
                        <ul>
                            <li>10 Books to Read in The Fall</li>
                            <li>Top Web Development Projects Ideas</li>
                        </ul>
                    </li>
                </ul>
                <h2>Most Viewed Articls</h2>
                <ol type="I">
                    <li>Instant Gratification Is Stopping You From Reaching Your Goals!

                        li>
                    <li>Stop Juggling Between Work And Life</li>
                </ol>
                <h2>IP Project Winners</h2>
                <pre>----------------------------------
Rank    Award
----------------------------------
First   Free hosting and support
Second  5GB Mobile Data
Third   1GB Mobile Data
---------------------------------- 
            </pre>




                <!--Sidebar End  -->
            </td>
        </tr>
        <tr>
            <td align="" colspan="2">
                <hr>
                <a name="bot"></a>
            </td>

        </tr>
        <tr>
            <td>
                Follow Us On: <a href="http://www.facebook.com/neqaneqa" target="_blank">Facebook</a> |
                <a href="http://www.twitter.com/neqaneqa" target="_blank">Twitter</a>


            <td align="right"> <a href="#">Privacy</a> | <a href="#">Terms of Use</a> </td>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">Copyright &#169; AASTU SEng 2021, All Rights Reserved</td>
        </tr>

    </table>
</body>

</html>