<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="In every issue of SUCCESS we will strive to bring you the thought leaders and success experts, both past and present, and reveal their key ideas and strategies to help you excel in every area of your personal and professional life">
    <meta name="keywords" content="Inspiration, motivation, productivity, success">
    <meta name="author" content="Mihret Debebe">

    <link rel="stylesheet" href="../../resources/css/style.css">
    <title>Life hacks</title>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="brand">
                <img src="../../resources/images/logo_gold.png" alt="Neqa Neqa logo"  >
            </div> 
            <div class="navigation">
                <a href="">Podcasts </a> | <a href="articles/articles.html"> Articles</a> | <a
                        href="ideas/ideas.html"> Ideas</a> | <a href="">About
                        Us</a> | <a href="#">Contact Us</a> | <a href="auth/register.html">Register</a>  | <a href="auth/signin.html">Signin</a>
            </div>
        </div>
        <div class="content">
            <div class="main-content">
                <h1>Eric Hoffer and the Power of Self-Education</h1>
                <img src="../../resources/images/banners/life1.jpg" width="100%"
                    title="You Can Live Life To the Fullest Without Trading Off Any Aspect of Life"
                    alt="You Can Live Life To the Fullest Without Trading Off Any Aspect of Life">
                <p>
                <p>
                    I recently read The True Believer by Eric Hoffer. It’s a book about how mass movements evolve. With
                    a lot of historical examples, the book explains the patterns and common threads among them.
                    It’s an insightful book and reading it was a great learning experience for me.
                </p>
                <p>
                    <img src="abc.png" alt="The True Believer book cover" width="120px" height="100px" align="left">

                    What I’d like to share with you here is not the content of the book, though. Instead, I’d like to
                    share with you about the author.

                </p>
                <p>
                    You see, I didn’t know about Eric Hoffer before. But I imagined he must be a famous professor from a
                    well-known university. I mean, what else could explain the depth of his insights? The True Believer
                    is an influential book. Here is how <a href="#">Wikipedia</a> put it... <a href="#">read more</a>
                </p>
                <hr>
                <h3>New Podcast</h3>
                <h1>Jack Ma - How I Overcame Failure </h1>
                <audio controls >
                    <source src="../../resources/audio/Jack Ma - How I Overcame Failure.mp3" type="audio/mp3">
                    Something is wrong, uable to load this audio
                </audio>

                <hr>
                <h3>Pick of The Week</h3>
                <h1>24 Hours A Day</h1>
                <video controls src="../../resources/video/24_HOURS.mp4" width="100%"></video>
                
            </div> <!-- end of main content-->
            <div class="sidebar">
                   <!-- Sidebar -->
                   <h2> Recent Posts</h2>
                   <ul>
                       <li>
                           <h3>Articles</h3>
                           <ul>
                               <li>The Importance of Goals, Especially During Difficult Times</li>
                               <li>5 Steps to Discovering Your Life Purpose In 2022!</li>
                           </ul>
                       </li>
                       <li>
                           <h3>Ideas</h3>
                           <ul>
                               <li>10 Books to Read in The Fall</li>
                               <li>Top Web Development Projects Ideas</li>
                           </ul>
                       </li>
                   </ul>
                   <h2>Most Viewed Articls</h2>
                   <ol type="I">
                       <li>Instant Gratification Is Stopping You From Reaching Your Goals!
   
                           li>
                       <li>Stop Juggling Between Work And Life</li>
                   </ol>
                   <h2>IP Project Winners</h2>
                   <pre>
----------------------------------
Rank    Award
----------------------------------
First   Free hosting and support
Second  5GB Mobile Data
Third   1GB Mobile Data
---------------------------------- 
               </pre>
   
   
   
   
                   <!--Sidebar End  -->
                
            </div><!-- end of side bar -->
        </div>
        <div class="footer">
            footer
        </div>
    </div>
</body>

</html>