<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neqaneqa</title>
    <link rel="stylesheet" href="../../resource/css/style.css">
</head>

<body ">
    <div class=" header">
    <nav-bar>
        <div class="brand">
            <a href="index.html" class="logo"><img src="../../resource/image/logo_gold.png"></a>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="nav-menu">
            <li><a href="#podcust">Podcast</a></li>
            <li><a href="#articles">Articles</a></li>
            <li><a href="#ideass">Ideas</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="auth/register.html">Register</a></li>
            <li><a href="#signup">Sign Up</a></li>
        </ul>
    </nav-bar>
    </div>

    <div class="wrapper">
        <div class="main-content">
            <div class="content">

                <article>
                    <h1>Eric Hoffer and the Power of Self-Education</h1>
                    <img src="../../resource/image/banners/life1.jpg" width="100%"
                        title="You Can Live Life To the Fullest Without Trading Off Any Aspect of Life"
                        alt="You Can Live Life To the Fullest Without Trading Off Any Aspect of Life">
                    <p>
                        <p>
                            I recently read The True Believer by Eric Hoffer. It’s a book about how mass movements
                            evolve.
                            With
                            a lot of historical examples, the book explains the patterns and common threads among them.
                            It’s an insightful book and reading it was a great learning experience for me.
                        </p>
                        <p>
                            <img src="abc.png" alt="The True Believer book cover" width="120px" height="100px"
                                align="left">

                            What I’d like to share with you here is not the content of the book, though. Instead, I’d
                            like
                            to
                            share with you about the author.

                        </p>
                        <p>
                            You see, I didn’t know about Eric Hoffer before. But I imagined he must be a famous
                            professor
                            from a
                            well-known university. I mean, what else could explain the depth of his insights? The True
                            Believer
                            is an influential book. Here is how <a href="#">Wikipedia</a> put it... <a href="#">read
                                more</a>
                        </p>
                </article>
                <div class="card_wrapper">
                    <h3 class="section_heading">Related Articles </h3>

                    <div class="cards">
                        <div class="card">
                            <img src="../../resource/image/kitaw-ejigu.jpg" alt="Avatar" style="width:100%">
                            <div class="card-body">
                                <h4><b>Kitaw Ejigu</b></h4>
                                <p>Engineer</p>
                            </div>
                        </div>
                    </div>

                    <div class="cards">
                        <div class="card">
                            <img src="../../resource/image/jeff_bezos.jpg" alt="Avatar" style="width:100%">
                            <div class="card-body">
                                <h4><b>Jeff Bezos</b></h4>
                                <p>Entrepreneur</p>
                            </div>
                        </div>
                    </div>

                    <div class="cards">
                        <div class="card">
                            <img src="../../resource/image/bethlehem_alemu.jpg" alt="Avatar" style="width:100%">
                            <div class="card-body">
                                <h4><b>Bethelhem Alemu</b></h4>
                                <p>Entrepreneur/p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="side-bar">
                <!-- Sidebar -->
                <h2> Recent Posts</h2>
                <ul>
                    <li>
                        <h3>Articles</h3>
                        <ul>
                            <li>The Importance of Goals, Especially During Difficult Times</li>
                            <li>5 Steps to Discovering Your Life Purpose In 2022!</li>
                        </ul>
                    </li>
                    <li>
                        <h3>Ideas</h3>
                        <ul>
                            <li>10 Books to Read in The Fall</li>
                            <li>Top Web Development Projects Ideas</li>
                        </ul>
                    </li>
                </ul>
                <h2>Most Viewed Articls</h2>
                <ol type="I">
                    <li>Instant Gratification Is Stopping You From Reaching Your Goals!

                        li>
                    <li>Stop Juggling Between Work And Life</li>
                </ol>
                <h2>IP Project Winners</h2>
                <pre>
----------------------------------
Rank    Award
----------------------------------
First   Free hosting and support
Second  5GB Mobile Data
Third   1GB Mobile Data
---------------------------------- 
            </pre>



         </div>
        </div>
    </div>
    <div class="footer">
        <p>All rights reserved &copy; 2014 EC AASTU Software Engineering Students</p>
    </div>
</body>

</html>